<div id="test">
  <mat-card>    
  <mat-toolbar>
        <b>Historique des modifications</b>
  </mat-toolbar>
  </mat-card>
<mat-card>
<mat-grid-list cols="4" rowHeight="4:4" >
<mat-grid-tile *ngFor="let dat of dataForms" [colspan]="4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
           <mat-chip color="accent" selected="true"> <b>Namesgeo</b></mat-chip>
        </mat-card-title>
        <mat-card-subtitle>
            <mat-chip><b>{{dat.date|date:'dd/MM/yyyy à HH:mm'}}</b></mat-chip>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <b>Reccurence: </b>  {{dat.reccurence}}
        </mat-card-content>
      <mat-card-content>
        <b>Objet: </b>{{dat.subject}}
      </mat-card-content>
      <mat-card-content>
        <b>Body: </b><p [innerHTML]="dat.body">
            
        </p>
      </mat-card-content>
    </mat-card>
</mat-grid-tile>
</mat-grid-list><br>
  </mat-card>
    </div>
