  <mat-toolbar id="myFooterToolbar">
    <mat-card>
      <span class="fill-space"></span>
      <a [href] = "fbookUrl" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" matTooltip="Facebook" matTooltipPosition="above"></a>
      <a [href] = "twitterUrl" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/twitter-hexagon-social-media-32.png" matTooltip="Twitter" matTooltipPosition="above"></a>
      <a [href] = "linkedinUrl" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" matTooltip="Linkedin" matTooltipPosition="above"></a>
      <a [href] = "googleUrl" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/google_plus-hexagon-social-media-32.png" matTooltip="Google plus" matTooltipPosition="above"></a>
      <span class="fill-space"></span>
    </mat-card>
</mat-toolbar>
