<div id="logo">
  <img src="../../../assets/img/logo-dtPink.png" height="60" width="63">
</div>
<mat-toolbar color="primary" >
    <span class="title-center"><b>KESTUFF ADMINISTRATION</b></span>
</mat-toolbar>
<mat-toolbar color="primary" id="myHeaderToolbar">
      <!-- <mat-card>CONSOLE D'ADMINISTRATION DU KESTUF</mat-card>     -->
      <a routerlink="/home" routerlinkactive="na  v-active" href="/home" class="nav-active">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">home</mat-icon><b>Accueil</b></a>
      <a  routerlink="/history" routerlinkactive="nav-active" href="/history">
        <mat-icon  class="mat-icon material-icons" role="img" aria-hidden="true">history</mat-icon><b>Historique</b></a>
      <a  routerlink="/manager" routerlinkactive="nav-active" href="/manager">
          <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">supervisor_account</mat-icon><b>Manager</b>
      </a>
      <!-- <a  routerlink="/manager" routerlinkactive="nav-active" href="/manager">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">account_circle</mat-icon><b>geonames@gmail.com</b>
    </a> -->
</mat-toolbar>

