<div id="logo">
  <img src="../../../assets/img/logo-dtPink.png" height="60" width="63">
</div>
<mat-toolbar color="accent" id="myHeaderToolbar">  
      <a routerlink="/home" routerlinkactive="nav-active" href="/home" class="nav-active">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">home</mat-icon> Accueil</a>
      <a  routerlink="/history" routerlinkactive="nav-active" href="/history">
        <mat-icon  class="mat-icon material-icons" role="img" aria-hidden="true">history</mat-icon>Historique</a>
      <a  routerlink="/manager" routerlinkactive="nav-active" href="/manager">
          <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">supervisor_account</mat-icon>Manager
      </a>
</mat-toolbar>

