/* mat-toolbar{
    text-align: center;
} */
mat-card{
    text-align: center; 
}

.but{
    display: inline-block;
}
 
#froalaEditor{
    overflow: auto;
} 

/* #submitButton{
    background:rgb(9, 112, 197); 
} */

#rec{
    display: inline-block;
}

.myInputForm{
    min-width: 350px;
}