<div class="formField">
  <form #myForm="ngForm" (ngSubmit)="validate()" class="myForm">
    <mat-divider></mat-divider>

    <mat-card>
      <mat-toolbar>
          <b>Formulaire </b>
        </mat-toolbar>
        <mat-divider></mat-divider>
      <mat-form-field class="myInputForm">
        <input matInput placeholder="Subject:" [(ngModel)] = "form.subject" name="subject" required>
      </mat-form-field>
        <div id="froalaEditor" [froalaEditor] = 'options' [(ngModel)] = "form.body" name="body" required></div>
        <br>
    </mat-card>
          <mat-card> 
            
              <mat-slide-toggle [(ngModel)]="disabled" name="nothing">
                  <h3> Edit reccurence?</h3>
              </mat-slide-toggle>
                <mat-form-field>
                  <mat-select placeholder="Choose an option" [disabled]="disabled" [(ngModel)] = "form.reccurence" name="reccurence">
                    <mat-option *ngFor= "let reccurence of reccuType" [value]="reccurence">{{reccurence}}</mat-option>
                  </mat-select>
                </mat-form-field>
        </mat-card>
    <mat-card>
          <div class="but">
          <button  mat-fab color="accent" matTooltip="clear" (click) = "clear()"><i class="material-icons">clear</i></button>
          <button  type="submit" [disabled]="!myForm.form.valid" mat-fab color="primary"  matTooltip="valider"><i class="material-icons">done</i></button>
          </div>
    </mat-card>
</form>
</div>